files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;

  "/etc/nginx/fastcgi_params" :
    mode: "000644"
    owner: root
    group: root
    content: |
      fastcgi_param   QUERY_STRING            $query_string;
      fastcgi_param   REQUEST_METHOD          $request_method;
      fastcgi_param   CONTENT_TYPE            $content_type;
      fastcgi_param   CONTENT_LENGTH          $content_length;

      fastcgi_param   SCRIPT_FILENAME         $document_root$fastcgi_script_name;
      fastcgi_param   SCRIPT_NAME             $fastcgi_script_name;
      fastcgi_param   PATH_INFO               $fastcgi_path_info;
      fastcgi_param       PATH_TRANSLATED         $document_root$fastcgi_path_info;
      fastcgi_param   REQUEST_URI             $request_uri;
      fastcgi_param   DOCUMENT_URI            $document_uri;
      fastcgi_param   DOCUMENT_ROOT           $document_root;
      fastcgi_param   SERVER_PROTOCOL         $server_protocol;

      fastcgi_param   GATEWAY_INTERFACE       CGI/1.1;
      fastcgi_param   SERVER_SOFTWARE         nginx/$nginx_version;

      fastcgi_param   REMOTE_ADDR             $remote_addr;
      fastcgi_param   REMOTE_PORT             $remote_port;
      fastcgi_param   SERVER_ADDR             $server_addr;
      fastcgi_param   SERVER_PORT             $server_port;
      fastcgi_param   SERVER_NAME             $server_name;

      fastcgi_param   HTTPS                   $https;

      # PHP only, required if PHP was built with --enable-force-cgi-redirect
      fastcgi_param   REDIRECT_STATUS         200;

  "/etc/nginx/conf.d/mime.types":
    mode: "000644"
    owner: root
    group: root
    content: |
      types {

        # Data interchange

          application/atom+xml                  atom;
          application/json                      json map topojson;
          application/ld+json                   jsonld;
          application/rss+xml                   rss;
          application/vnd.geo+json              geojson;
          application/xml                       rdf xml;

        # JavaScript

          # Normalize to standard type.
          # https://tools.ietf.org/html/rfc4329#section-7.2
          application/javascript                js;

        # Media files

          audio/midi                            mid midi kar;
          audio/mp4                             aac f4a f4b m4a;
          audio/mpeg                            mp3;
          audio/ogg                             oga ogg opus;
          audio/x-realaudio                     ra;
          audio/x-wav                           wav;
          image/bmp                             bmp;
          image/gif                             gif;
          image/jpeg                            jpeg jpg;
          image/jxr                             jxr hdp wdp;
          image/png                             png;
          image/svg+xml                         svg svgz;
          image/tiff                            tif tiff;
          image/vnd.wap.wbmp                    wbmp;
          image/webp                            webp;
          image/x-jng                           jng;
          video/3gpp                            3gp 3gpp;
          video/mp4                             f4p f4v m4v mp4;
          video/mpeg                            mpeg mpg;
          video/ogg                             ogv;
          video/quicktime                       mov;
          video/webm                            webm;
          video/x-flv                           flv;
          video/x-mng                           mng;
          video/x-ms-asf                        asf asx;
          video/x-ms-wmv                        wmv;
          video/x-msvideo                       avi;

          # Serving `.ico` image files with a different media type
          # prevents Internet Explorer from displaying then as images:
          # https://github.com/h5bp/html5-boilerplate/commit/37b5fec090d00f38de64b591bcddcb205aadf8ee

          image/x-icon                          cur ico;

        # Microsoft Office

          application/msword                                                         doc;
          application/vnd.ms-excel                                                   xls;
          application/vnd.ms-powerpoint                                              ppt;
          application/vnd.openxmlformats-officedocument.wordprocessingml.document    docx;
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet          xlsx;
          application/vnd.openxmlformats-officedocument.presentationml.presentation  pptx;

        # Web fonts

          application/font-woff                 woff;
          application/font-woff2                woff2;
          application/vnd.ms-fontobject         eot;

          # Browsers usually ignore the font media types and simply sniff
          # the bytes to figure out the font type.
          # https://mimesniff.spec.whatwg.org/#matching-a-font-type-pattern
          #
          # However, Blink and WebKit based browsers will show a warning
          # in the console if the following font types are served with any
          # other media types.

          application/x-font-ttf                ttc ttf;
          font/opentype                         otf;

        # Other

          application/java-archive              ear jar war;
          application/mac-binhex40              hqx;
          application/octet-stream              bin deb dll dmg exe img iso msi msm msp safariextz;
          application/pdf                       pdf;
          application/postscript                ai eps ps;
          application/rtf                       rtf;
          application/vnd.google-earth.kml+xml  kml;
          application/vnd.google-earth.kmz      kmz;
          application/vnd.wap.wmlc              wmlc;
          application/x-7z-compressed           7z;
          application/x-bb-appworld             bbaw;
          application/x-bittorrent              torrent;
          application/x-chrome-extension        crx;
          application/x-cocoa                   cco;
          application/x-java-archive-diff       jardiff;
          application/x-java-jnlp-file          jnlp;
          application/x-makeself                run;
          application/x-opera-extension         oex;
          application/x-perl                    pl pm;
          application/x-pilot                   pdb prc;
          application/x-rar-compressed          rar;
          application/x-redhat-package-manager  rpm;
          application/x-sea                     sea;
          application/x-shockwave-flash         swf;
          application/x-stuffit                 sit;
          application/x-tcl                     tcl tk;
          application/x-x509-ca-cert            crt der pem;
          application/x-xpinstall               xpi;
          application/xhtml+xml                 xhtml;
          application/xslt+xml                  xsl;
          application/zip                       zip;
          text/css                              css;
          text/csv                              csv;
          text/html                             htm html shtml;
          text/markdown                         md;
          text/mathml                           mml;
          text/plain                            txt;
          text/vcard                            vcard vcf;
          text/vnd.rim.location.xloc            xloc;
          text/vnd.sun.j2me.app-descriptor      jad;
          text/vnd.wap.wml                      wml;
          text/vtt                              vtt;
          text/x-component                      htc;

      }

  "/etc/nginx/nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Configuration File - Nginx Server Configs
      # http://nginx.org/en/docs/dirindex.htm
      # Run as a unique, less privileged user for security reasons.
      # Default: nobody nobody
      user nginx;

      # Sets the worker threads to the number of CPU cores available in the system for best performance.
      # Should be > the number of CPU cores.
      # Maximum number of connections = worker_processes * worker_connections
      # Default: 1;

      worker_processes auto;
      # Maximum number of open files per worker process.
      # Should be > worker_connections.
      # Default: no limit
      worker_rlimit_nofile 8192;

      events {
        # If you need more connections than this, you start optimizing your OS.
        # That's probably the point at which you hire people who are smarter than you as this is *a lot* of requests.
        # Should be < worker_rlimit_nofile.
        # Default: 512
        worker_connections 8000;
      }

      # Log errors and warnings to this file
      # This is only used when you don't override it on a server{} level
      # Default: logs/error.log error
      error_log  /var/log/nginx/error.log warn;

      # The file storing the process ID of the main process
      # Default: nginx.pid
      pid        /var/run/nginx.pid;

      http {
        # Hide nginx version information.
        # Default: on
        server_tokens off;

        # Default: text/plain
        default_type  application/octet-stream;

        # Update charset_types to match updated mime.types.
        # text/html is always included by charset module.
        # Default: text/html text/xml text/plain text/vnd.wap.wml application/javascript application/rss+xml
        charset_types
          text/css
          text/plain
          text/vnd.wap.wml
          application/javascript
          application/json
          application/rss+xml
          application/xml;

        # Include $http_x_forwarded_for within default format used in log files
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';

        # Log access to this file
        # This is only used when you don't override it on a server{} level
        # Default: logs/access.log combined
        access_log /var/log/nginx/access.log main;

        # How long to allow each connection to stay idle.
        # Longer values are better for each individual client, particularly for SSL,
        # but means that worker connections are tied up longer.
        # Default: 75s
        keepalive_timeout 20s;

        # Speed up file transfers by using sendfile() to copy directly
        # between descriptors rather than using read()/write().
        # For performance reasons, on FreeBSD systems w/ ZFS
        # this option should be disabled as ZFS's ARC caches
        # frequently used files in RAM by default.
        # Default: off
        sendfile        on;

        # Don't send out partial frames; this increases throughput
        # since TCP frames are filled up before being sent out.
        # Default: off
        tcp_nopush      on;

        # Enable gzip compression.
        # Default: off
        gzip on;

        # Compression level (1-9).
        # 5 is a perfect compromise between size and CPU usage, offering about
        # 75% reduction for most ASCII files (almost identical to level 9).
        # Default: 1
        gzip_comp_level    5;

        # Don't compress anything that's already small and unlikely to shrink much
        # if at all (the default is 20 bytes, which is bad as that usually leads to
        # larger files after gzipping).
        # Default: 20
        gzip_min_length    256;

        # Compress data even for clients that are connecting to us via proxies,
        # identified by the "Via" header (required for CloudFront).
        # Default: off
        gzip_proxied       any;

        # Tell proxies to cache both the gzipped and regular version of a resource
        # whenever the client's Accept-Encoding capabilities header varies;
        # Avoids the issue where a non-gzip capable client (which is extremely rare
        # today) would display gibberish if their proxy gave them the gzipped version.
        # Default: off
        gzip_vary          on;

        # Compress all output labeled with one of the following MIME-types.
        # text/html is always compressed by gzip module.
        # Default: text/html
        gzip_types
          application/atom+xml
          application/javascript
          application/json
          application/ld+json
          application/manifest+json
          application/rss+xml
          application/vnd.geo+json
          application/vnd.ms-fontobject
          application/x-font-ttf
          application/x-web-app-manifest+json
          application/xhtml+xml
          application/xml
          font/opentype
          image/bmp
          image/svg+xml
          image/x-icon
          text/cache-manifest
          text/css
          text/plain
          text/vcard
          text/vnd.rim.location.xloc
          text/vtt
          text/x-component
          text/x-cross-domain-policy;

        # This should be turned on if you are going to have pre-compressed copies (.gz) of
        # static files available. If not it should be left off as it will cause extra I/O
        # for the check. It is best if you enable this in a location{} block for
        # a specific directory, or on an individual server{} level.
        # gzip_static on
        types_hash_max_size 2048;
        map_hash_bucket_size 128;

        include /etc/nginx/conf.d/*.conf;
      }

  "/etc/nginx/conf.d/movemil.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen [::]:80 deferred;
        listen 80 deferred;
        server_name _ localhost;
        charset utf-8;

        # With Content Security Policy (CSP) enabled (and a browser that supports it (http://caniuse.com/#feat=contentsecuritypolicy),
        # you can tell the browser that it can only download content from the domains you explicitly allow
        # CSP can be quite difficult to configure, and cause real issues if you get it wrong
        # There is website that helps you generate a policy here http://cspisawesome.com/
        add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://dap.digitalgov.gov https://www.google-analytics.com https://www.googletagmanager.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: https://www.google-analytics.com *.tile.openstreetmap.org; frame-ancestors 'none'; frame-src https://www.youtube.com;" always;

        # MIME type sniffing security protection
        #	There are very few edge cases where you wouldn't want this enabled.
        add_header X-Content-Type-Options nosniff always;

        # The X-Frame-Options header indicates whether a browser should be allowed
        # to render a page within a frame or iframe.
        add_header X-Frame-Options SAMEORIGIN always;

        # Force the latest IE version
        add_header X-UA-Compatible "IE=Edge";

        # The X-XSS-Protection header is used by Internet Explorer version 8+
        # The header instructs IE to enable its inbuilt anti-cross-site scripting filter.
        add_header X-XSS-Protection "1; mode=block" always;

        # HSTS (HTTP Strict Transport Security)
        # This header tells browsers to cache the certificate for six months and to connect exclusively via HTTPS.
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains;"
        # preload" always; #out for testing

        location = /favicon.ico {
                log_not_found off;
                access_log off;
            }

            location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
            }

            location ~ \..*/.*\.php$ {
                return 403;
            }

            location ~ ^/sites/.*/private/ {
                return 403;
            }

            # Block access to scripts in site files directory
            location ~ ^/sites/[^/]+/files/.*\.php$ {
                deny all;
            }

            # Allow "Well-Known URIs" as per RFC 5785
            location ~* ^/.well-known/ {
                allow all;
            }

            # Block access to "hidden" files and directories whose names begin with a
            # period. This includes directories used by version control systems such
            # as Subversion or Git to store control files.
            location ~ (^|/)\. {
                return 403;
            }

            location / {
                # try_files $uri @rewrite; # For Drupal <= 6
                try_files $uri /index.php?$query_string; # For Drupal >= 7
            }

            location @rewrite {
                rewrite ^/(.*)$ /index.php?q=$1;
            }

            # Don't allow direct access to PHP files in the vendor directory.
            location ~ /vendor/.*\.php$ {
                deny all;
                return 404;
            }

            # In Drupal 8, we must also match new paths where the '.php' appears in
            # the middle, such as update.php/selection. The rule we use is strict,
            # and only allows this pattern with the update.php front controller.
            # This allows legacy path aliases in the form of
            # blog/index.php/legacy-path to continue to route to Drupal nodes. If
            # you do not have any paths like that, then you might prefer to use a
            # laxer rule, such as:
            #   location ~ \.php(/|$) {
            # The laxer rule will continue to work if Drupal uses this new URL
            # pattern with front controllers other than update.php in a future
            # release.
            location ~ '\.php$|^/update.php' {
                fastcgi_split_path_info ^(.+?\.php)(|/.*)$;
                include fastcgi_params;
                # Block httpoxy attacks. See https://httpoxy.org/.
                fastcgi_param HTTP_PROXY "";
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param PATH_INFO $fastcgi_path_info;
                fastcgi_param QUERY_STRING $query_string;
                fastcgi_intercept_errors on;
                # PHP 7 socket location.
                fastcgi_pass 127.0.0.1:9000;
            }

            # Handle private files through Drupal. Private file's path can come
            # with a language prefix.
            location ~ ^(/[a-z\-]+)?/system/files/ { # For Drupal >= 7
                try_files $uri /index.php?$query_string;
            }

            location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
                try_files $uri @rewrite;
                expires max;
                log_not_found off;
            }
      }

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_remove_default_nginx_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      find /etc/nginx/conf.d/ -name '*.conf' -not -name movemil.conf -delete
      rm -rf /etc/nginx/extras
      service nginx reload

      rm -- "$0"
